@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "tailwindcss";
/* @plugin "@tailwindcss/typography"; */
@plugin "@tailwindcss/typography" {
  classname: prose;
}
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --display-family: "Manrope", "sans-serif";
  --display-weight: 600;
  --text-family: "Roboto", "sans-serif";
  --text-weight: 400;
  
  --base-50: oklch(0.9883 0.0019 258.27);
  --base-100: oklch(0.9717 0.0038 259.34);
  --base-200: oklch(0.9321 0.0076 259.94);
  --base-300: oklch(0.8715 0.0114 261.25);
  --base-400: oklch(0.7056 0.0171 264.11);
  --base-500: oklch(0.5548 0.0227 264.75);
  --base-600: oklch(0.4465 0.0218 264.54);
  --base-700: oklch(0.3722 0.0199 264.57);
  --base-800: oklch(0.2561 0.018 266.26);
  --base-900: oklch(0.2081 0.0156 268.02);
  --base-950: oklch(0.1291 0.0142 268.92);
  --base-1000: oklch(0.0781 0.0133 269.19);

  --primary-50: oklch(0.969 0.0145 293.76);
  --primary-100: oklch(0.943 0.0263 294.59);
  --primary-200: oklch(0.894 0.0517 293.28);
  --primary-300: oklch(0.811 0.1008 293.57);
  --primary-400: oklch(0.702 0.1661 293.54);
  --primary-500: oklch(0.606 0.2269 292.72);
  --primary-600: oklch(0.541 0.2551 293.01);
  --primary-700: oklch(0.491 0.2451 292.58);
  --primary-800: oklch(0.432 0.2106 292.76);
  --primary-900: oklch(0.38 0.1716 293.75);
  --primary-950: oklch(0.283 0.128 291.09);
  --primary-1000: oklch(0.22 0.0999 289.36);

  --background: var(--base-50);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-800);
  --primary-foreground: var(--color-white);
  --secondary: var(--base-200);
  --secondary-foreground: var(--base-950);
  --muted: var(--base-100);
  --muted-foreground: var(--base-600);
  --accent: var(--base-100);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-800);
  --chart-1: var(--primary-800);
  --chart-2: var(--primary-200);
  --chart-3: var(--primary-400);
  --chart-4: var(--primary-300);
  --chart-5: var(--primary-100);
  --radius: 0.75rem;
  --sidebar: var(--color-white);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-800);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-50);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-800);
}
.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-900);
  --card-foreground: var(--base-200);
  --popover: var(--base-900);
  --popover-foreground: var(--base-200);
  --primary: var(--primary-300);
  --primary-foreground: var(--color-black);
  --secondary: var(--base-700);
  --secondary-foreground: var(--base-50);
  --muted: var(--base-800);
  --muted-foreground: var(--base-300);
  --accent: var(--base-800);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--primary-300);
  --chart-1: var(--primary-300);
  --chart-2: var(--primary-200);
  --chart-3: var(--primary-400);
  --chart-4: var(--primary-300);
  --chart-5: var(--primary-100);
  --sidebar: var(--base-900);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--primary-300);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-800);
  --sidebar-accent-foreground: var(--base-200);
  --sidebar-border: var(--base-800);
  --sidebar-ring: var(--primary-300);
}

@theme inline {
  --font-display: var(--display-family);
  --font-text: var(--text-family);
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
    font-family: var(--text-family);
    font-weight: var(--text-weight);
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--display-family);
    font-weight: var(--display-weight);
  }
  p{
    opacity: 0.8;
    font-weight: 400;
  }
}

/* img[src="https://assets.unicorn.studio/media/free_user_logo.png"],
img[src="https://assets.unicorn.studio/media/made_in_us_small_web.svg"]
{
  display: none !important;
  background-image: none !important;
}

[style*="https://assets.unicorn.studio/media/free_user_logo.png"],
[style*="https://assets.unicorn.studio/media/made_in_us_small_web.svg"]
{
  display: none !important;

  background-image: none !important;

}
  
*/
html {
  scroll-behavior: smooth;
}

.cybr-btn {
  /* --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%)); */
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 0;
  --primary-lightness: 50;
  --color: hsl(0, 0%, 100%);
  --font-size: 26px;
  --shadow-primary-hue: 280;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  /* font-family: 'Cyber', sans-serif; */
  /* color: var(--color); */
  cursor: pointer;
  background: transparent;
  /* text-transform: uppercase; */
  /* font-size: var(--font-size); */
  outline: transparent;
  /* letter-spacing: 2px; */
  position: relative;
  /* font-weight: 700; */
  border: 0;
  /* min-width: 300px; */
  /* height: 75px; */
  /* line-height: 75px; */
  transition: background 0.2s;
}

.cybr-btn:after,
.cybr-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.cybr-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.cybr-btn:after {
  background: var(--primary);
}

.outl-cybr-btn {
  /* --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%)); */
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 0;
  --primary-lightness: 50;
  --color: hsl(0, 0%, 100%);
  --font-size: 26px;
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  /* font-family: 'Cyber', sans-serif; */
  /* color: var(--color); */
  cursor: pointer;
  background: transparent;
  /* text-transform: uppercase; */
  /* font-size: var(--font-size); */
  outline: transparent;
  /* letter-spacing: 2px; */
  position: relative;
  /* font-weight: 700; */
  border: 0;
  /* min-width: 300px; */
  /* height: 75px; */
  /* line-height: 75px; */
  transition: background 0.2s;
}

.outl-cybr-btn:after,
.outl-cybr-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.outl-cybr-btn:before {
  /* background: var(--shadow-primary); */
  transform: translate(var(--border), 0);
  outline: var(--primary) solid 2px;
  /* border:  var(--primary) solid 2px; */
}

.outl-cybr-btn:after {
  /* background: var(--primary); */
  outline: var(--primary) solid 2px;
  border: var(--primary) solid 2px;
}

::selection {
  background: oklch(0.8112 0.1013 293.5 /0.4);

  color: var(--foreground);
}
